<div class="row">
  <div class="col-md-12">
      <json-schema-form
        [options]="options|async"
        [schema]="schema"
        [layout]="layout"
        (onChanges)="onChanges($event)"
        (onSubmit)="onSubmit($event)"
        (isValid)="isValid($event)"
        (validationErrors)="validationErrors($event)"
        [debug]="false">
      </json-schema-form>

      <hr>

      <p>
        Valid?:
        <strong *ngIf="formIsValid || prettyValidationErrors"
          [class.text-success]="formIsValid" [class.text-danger]="!formIsValid">
          {{formIsValid ? 'Yes' : 'No'}}
        </strong>
        <span *ngIf="prettyValidationErrors">
          — errors from validationErrors():
        </span>
      </p>

      <pre *ngIf="prettyValidationErrors" class="bg-danger">{{prettyValidationErrors}}</pre>

      Live data — from onChanges():
      <pre [class.bg-success]="!prettyValidationErrors && prettyLiveFormData !== '{ }'"
        [class.bg-danger]="prettyValidationErrors">{{prettyLiveFormData}}</pre>

      Submitted data — from onSubmit():
      <pre [class.bg-success]="prettySubmittedFormData !== '{ }'">{{prettySubmittedFormData}}</pre>
  </div>
</div>
